a {
  color: red; /* #ff0000 */
}
a:hover {
  color: rgb(0, 0, 255);
}

h1 {
  color: blue;
}

p {
  text-indent: 2em; /* =25px */
}

h2 {
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}

img {
  border: 5px solid grey;
}
img:hover {
  border: 5px solid pink;
}

li {
  line-height: 1.5;
}

.through {
  text-decoration: line-through;
}
